.studentregistration{
    margin-top: 50px;
    position: relavtive
    
}

.studentList{
    position:relative;
    height: 600px;
    overflow: scroll;
    padding-right: 20px;
}

.textfield{
    width:220px;
}

.commentBox{
    margin-top: 30px;
    margin-left: 2px;
}

.commentField{
    width: 730px;
}

.submitScoresheet{
    margin-top: 20px;
}
.studentBox{
    margin-top:20px;
    width: 730px;
}
