.profileCardForm{
    width: 20em;
    height: 50em;
    margin-top: 55px;
    margin-left:200px;
}
.profileForm{
    padding: 10px 0px 10px 10px;
    color:goldenrod;
    background-color: navy;
}