.logoCard{
    width: 20em;
    height: 50em;
    float: left;
    margin-top:100px;
    margin-left:200px;
}
.logo{
    padding: 10px 0px 10px 10px;
    color:rgb(253,182,20);
    background-color: navy;
}
.loginCard{
    width: 20em;
    height: 50em;
    float: right;
    margin-top:100px;
    margin-left:700px;
}
.login{
    padding: 10px 0px 10px 10px;
    color:rgb(253,182,20);
    background-color: navy;
}
