.banner{
    background: rgb(34,193,195);
    background: linear-gradient(90deg, navy 15%, rgb(238, 195, 101) 90%);    
    text-align: right;
    padding: 1px 20px 1px 0px;
    font-size: 20px;    
}
#h1banner{
    color:black;
}

.loginPic{
    margin-left: 50px;
    border-radius: 10px;
    color: white;
    
}

